In [2]:
import pandas as pd

### 薬剤師

In [8]:
ph = pd.read_excel('薬剤師マスタ追加リスト.xlsx')
ph.head()

    薬品コード                      薬品名     調製者
0  I54752  ベルケイド注射用3mg Krebs〔要時購入〕  都築 奈々夏
1  I48840               生理食塩液　２０ｍＬ  都築 奈々夏
2  I46615       生理食塩液　５００ｍＬ　ソフトバッグ  都築 奈々夏
3  I45781      イホマイド　１ｇ〔注射用〕　Krebs  都築 奈々夏
4  I46600  ブドウ糖注射液　5% 250mL ソフトバック  都築 奈々夏

In [9]:
ph.drop_duplicates(subset='調製者', keep='first', inplace=True)
ph.to_excel('薬剤師マスタ追加リスト.xlsx', index=False)

### 薬品

In [3]:
drug = pd.read_excel('薬品マスタ追加リスト.xlsx')

In [4]:
drug = drug[['薬品コード', '薬品名']]
drug.drop_duplicates(subset='薬品コード', keep='first', inplace=True)
drug

    薬品コード  薬品名
0  I27286  NaN
3  I57052  NaN

In [5]:
drug.to_excel('薬品マスタ追加リスト.xlsx', index=False)